{% extends "layout.html" %}
{% block content %}
    <h1 style="text-align: center;">Say something</h1><div style="text-align: center;">
    </div><form method="post" action="{{ url_for('signup') }}"><div style="text-align: center;">
        </div><p style="text-align: center;"><label>Username:</label> <input name="username" required="" type="text"></p><div style="text-align: center;">
        </div><p style="text-align: center;"><label>Message:</label> <input name="message" required="" type="text"></p><div style="text-align: center;">
        </div><p style="text-align: center;"><button type="submit">Send</button></p>
    </form>
{% endblock %}
